/*----------------------------------------------------
インデックスページ
----------------------------------------------------*/
#index {
  .visual {
    position: relative;
    overflow: hidden;
    .searchform {
      position: relative;
      .search-form {
        position: relative;
        z-index: 2;
      }
      @include media(lg) {
        position: absolute;
        display: flex;
        align-content: center;
        flex-flow: row wrap;
        width: 32vw;
        height: 100%;
        margin: 0;
        padding: 0 30px;
        top: 0;
        right: 6%;
      }
//      @media screen and (min-width: 1600px) {
//        width: 50vh;
//      }
      &:after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        background: $color-sub;
        width: 100%;
        height: 100%;
        @include media(md) {
          z-index: 1;
        }
      }
      .searchform-heading {
        display: none;
        &:before {
          content: '\f002';
          margin-right: 10px;
          font-family: FontAwesome;
          font-weight: normal;
        }
        @include media(lg) {
          display: block;
          position: relative;
          font-size: 18px;
          font-weight: bold;
          z-index: 2;
        }
      }
      .searchform-input {
        input {
          border: 1px solid $color-main;
        }
      }
      .searchform-body {
        @include media(md) {
          width: 100%;
        }
        .button-search {
          a {
            background: $color-main;
            border: 2px solid  $color-main;
            &:hover {
              background: #fff;
              color: $color-main;
            }
          }
        }
      }
    }
  }
  
  .banner {
    .banner-inner {
      .banner-list {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        margin: 25px auto;
        .banner-item {
          margin-bottom: 10px;
          transition: .24s ease all;
          @include media(sm) {
            width: 32%;
          }
          &:last-child {
            margin-bottom: 0;
          }
          &:hover {
            @include media(md) {
              opacity: .6;
            }
          }
        }
      }
    }
  }
  
  .anchor {
    .anchor-inner {
      padding: 0;
      @include media(sm) {
        padding: 0 5%;
      }
      @include media(lg) {
        padding: 0;
      }
    }
  }
  
  .recommend {
    .recommend-inner {
    }
  }
  
  .feature {
    .feature-inner {
      .feature-banner {
        margin-bottom: 30px;
        .feature-banner-list {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          .feature-banner-item {
            width: 100%;
            margin-bottom: 4px;
            overflow: hidden;
            background-size: cover;
            transition: .24s ease all;
            @include media(sm) {
              width: 49%;
              margin-bottom: 30px;
              &:nth-last-child(-n+2) {
                margin-bottom: 0;
              }
            }
            a {
              display: block;
              position: relative;
              .heading {
                position: relative;
                padding: 60px 15px 15px;
                font-weight: bold;
                color: #000;
                text-shadow: 0px 0px 5px #fff;
                @include media(sm) {
                  padding: 60px 20px 30px;
                  font-size: 20px;
                }
                @include media(md) {
                  padding: 90px 20px 20px;
                }
                span {
                  display: block;
                  margin-top: 6px;
                  font-size: 12px;
                  font-weight: normal;
                  br {
                    display: none;
                  }
                  @include media(sm) {
                    margin-top: 6px;
                  }
                }
              }
            }
            &:hover {
              @include media(md) {
                filter: brightness(120%);
              }
            }
          }
        }
      }
    }
  }
  
  .knowhow {
    .knowhow-inner {
      margin-bottom: 40px;
      @include media(lg) {
        margin-bottom: 60px;
      }
      .knowhow-post {
        .knowhow-block {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 25px;
          .knowhow-post__pic {
            margin-bottom: 10px;
            @include media(lg) {
              width: 50%;
            }
          }
          .knowhow-post__text {
            @include justify;
            line-height: 1.6;
            @include media(lg) {
              width: 45%;
              font-size: 16px;
              line-height: 1.8;
            }
          }
        }
        .knowhow-post__title {
          display: inline-block;
          margin-bottom: 25px;
          font-weight: bold;
          font-size: 16px;
          position: relative;
          @include media(lg) {
            font-size: 18px;
          }
          &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 12px;
            left: 0;
            bottom: -5px;
            background: $color-sub;
            z-index: -1;
          }
        }
        .knowhow-post__question,
        .knowhow-post__answer {
          h4 {
            margin-bottom: 10px;
            color: #666;
          }
          p {
            font-size: 13px;
            line-height: 1.7;
            color: #666;
            @include media(lg) {
              font-size: 16px;
              line-height: 1.8;
            }
          }
        }
        .knowhow-post__answer {
          margin-top: 25px;
          padding: 15px;
          background: #f5f5f5;
        }
        .knowhow-blog {
          margin-top: 25px;
          padding-top: 20px;
          border-top: 1px dotted $color-black;
          @include media(sm) {
            margin-top: 50px;
            padding-top: 40px;
          }
          .knowhow-blog-list {
            display: flex;
            flex-flow: row wrap;
            margin-bottom: 30px;
            .knowhow-blog-list__item {
              border-bottom: 1px solid #eee;
              @include media(sm) {
                width: 24%;
                margin-right: 1.33%;
                &:last-child {
                  margin-right: 0;
                }
              }
              a {
                position: relative;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-items: center;
                padding: 10px 0;
                transition: .24s ease all;
                &:hover {
                  @include media(md) {
                    opacity: .6;
                  }
                }
                .thumb {
                  width: 30%;
                  @include media(sm) {
                    width: 100%;
                  }
                }
                .time {
                  display: block;
                  margin-bottom: 4px;
                  font-size: 12px;
                }
                .title {
                  width: 55%;
                  margin-right: 10%;
                  line-height: 1.4;
                  @include media(sm) {
                    width: 100%;
                    margin: 10px 0 0 0;
                    font-size: 14px;
                  }
                }
                &:after {
                  content: '';
                  position: absolute;
                  width: 6px;
                  height: 6px;
                  border-right: 1px solid $color-black;
                  border-bottom: 1px solid $color-black;
                  right: 5%;
                  transform: rotate(-45deg);
                  @include media(sm) {
                    content: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  
  .about {
    padding: 1px 0 60px;
    background: #e0eef7;
    .about-inner {
      .about-info {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        .text {
          margin-bottom: 15px;
          line-height: 1.6;
          text-align: center;
          @include media(lg) {
            line-height: 2;
            font-size: 16px;
          }
        }
        .picture {
          @include media(lg) {
            width: 50%;
          }
        }
      }
    }
  }
  
  .info {
    .info-inner {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
      .info-company {
        width: 100%;
        @include media(md) {
          width: 60%;
        }
        .info-company-list {
          .info-company-list__item {
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px dotted $color-black;
            .adress {
              @include media(sm) {
                display: flex;
                justify-content: space-between;
                align-items: center;
                figure {
                  width: 46%;
                }
                p {
                  width: 50%;
                }
              }
            }
            .name {
              position: relative;
              padding: 10px 0;
              font-size: 16px;
              font-weight: bold;
              @include media(lg) {
                font-size: 14px;
              }
              &:before {
                content: '\f1ad';
                margin-right: 6px;
                font-size: 18px;
                font-family: FontAwesome;
                color: $color-main;
              }
              .map {
                @include media(lg) {
                  display: inline-block;
                  vertical-align: middle;
                }
                a {
                  display: inline-block;
                  position: absolute;
                  padding: 2px 10px;
                  top: 10px;
                  right: 0;
                  background: $color-sub;
                  font-family: $lato;
                  font-size: 12px;
                  font-weight: normal;
                  color: $color-main;
                  @include media(lg) {
                    position: relative;
                    top: 0;
                    left: 20px;
                  }
                }
              }
            }
            .adress {
              figure {
                margin-bottom: 10px;
                @include media(sm) {
                  margin-bottom: 0;
                  img {
                    width: 300px;
                  }
                }
              }
              p {
                line-height: 1.6;
                @include media(lg) {
                  font-size: 14px;
                }
                a {
                  color: $color-main;
                  border-bottom: 1px solid $color-main;
                }
              }
            }
          }
        }
      }
      .info-sns {
        width: 100%;
        iframe {
          width: 100% !important;
        }
        @include media(md) {
          width: 30%;
        }
      }
    }
  }
}

/*----------------------------------------------------
リクルートページ
 archive
----------------------------------------------------*/
#recruitArchive {
  .c-headingLarge {
    h2 {
      background: url(assets/images/recruit/visual.jpg) no-repeat center/cover;
    }
  }
}

/*----------------------------------------------------
リクルートページ
archive
----------------------------------------------------*/
#recruitSingle {
  .recruitSingle_inner {
    .recruitSingle_post {
      .entry__thumbnail {
        margin: 20px 0 0;
      }
      .entry__category {
        ul {
          display: flex;
          flex-flow: row wrap;
          li {
            margin: 0 5px 5px 0;
            &.is-way {
              a {
                color: $color-white;
                background: $color-main;
                &:hover {
                  @include media(md) {
                    opacity: .6;
                  }
                }
              }
            }
            a {
              display: block;
              padding: 4px 14px;
              border-radius: 30px;
              font-size: 12px;
              line-height: 1;
              color: $color-main;
              border: 1px solid $color-main;
              background: #e0eef7;
              transition: .24s ease all;
              @include media(md) {
                font-size: 14px;
              }
              &:hover {
                @include media(md) {
                  color: $color-white;
                  background: $color-main;
                }
              }
            }
          }
        }
      }
      > .c-button {
        width: 80%;
        margin: 20px auto 40px;
        @include media(md) {
          width: 320px;
          margin: 40px auto 100px;
        }
      }
      .entry__table {
        border-top: 1px solid #ddd;
        dl {
          display: flex;
          border-bottom: 1px solid #ddd;
          dt {
            width: 25%;
            padding: 10px;
            font-size: 12px;
            color: #fff;
            background: $color-main;
            @include media(md) {
              padding: 20px;
              font-size: 16px;
            }
          }
          dd {
            width: 75%;
            border-right: 1px solid #ddd;
            padding: 10px;
            line-height: 1.4;
            @include media(md) {
              padding: 20px;
              font-size: 16px;
            }
          }
        }
      }
      .entry__body {
        .entrty__point {
//          margin-bottom: 40px;
          p {
            @include media(md) {
              font-size: 16px;
            }
          }
          img.alignnone {
            margin-top: 20px;
          }
        }
        h2 {
          font-size: 20px;
          @include media(md) {
            font-size: 24px;
          }
        }
        h3 {
          font-size: 18px;
          @include media(md) {
            font-size: 20px;
          }
        }
        h4 {
          font-size: 14px;
          @include media(md) {
            font-size: 18px;
          }
        }
        h2,h3,h4 {
          margin: 40px 0 25px;
          padding-bottom: 10px;
          text-align: center;
          font-weight: bold;
          color: #333;
          letter-spacing: .1em;
          position: relative;
          @include media(md) {
            margin: 60px 0 40px;
            font-size: 22px;
          }
          &:after {
            content: '';
            position: absolute;
            transform: translate(-50%,0);
            width: 50px;
            height: 3px;
            left: 50%;
            bottom: -5px;
            background: $color-main;
            z-index: -1;
          }
        }
        img {
          @include media(sm) {
            width: auto;
          }
        }
        p {
          line-height: 1.7;
        }
      }
    }
    .recruitSingle_btnArea {
      padding: 20px 0;
      @include media(md) {
        margin-top: 80px;
        padding: 60px 0;  
        background: #f9f9f9;
      }
    }
    .recruitSignle_related {
      margin: 40px auto;
      .sub {
        margin-bottom: 15px;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        color: #000;
        @include media(md) {
          font-size: 16px;
        }
      }
      .title {
        margin-bottom: 30px;
        padding: 16px 0;
        background: $color-main;
        text-align: center;
        color: #fff;
        font-size: 16px;
        line-height: 1.4;
        position: relative;
        @include media(md) {
          padding: 22px 0;
          br {
            display: none;
          }
        }
        &:after {
          position: absolute;
          bottom: -8%;
          left: 50%;
          content: '';
          margin-left: -7px;
          border-top: 7px solid $color-main;
          border-right: 7px solid transparent;
          border-left: 7px solid transparent;
          width: 0;
          height: 0;
          @include media(md) {
            bottom: -10%;
          }
        }
        @include media(md) {
          font-size: 20px;
        }
      }
    }
  }
}

/*----------------------------------------------------
ブログページ
 blog
----------------------------------------------------*/
#blogArchive {
  .c-headingLarge {
    .heading {
      background: url(assets/images/blog/visual.jpg) no-repeat center/cover;
    }
  }
  .c-container {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    #sidebar {
      width: 100%;
      @include media(md) {
        width: 25%;
      }
    }
    .entryWrap {
      width: 100%;
      @include media(md) {
        width: 70%;
      }
      > ul {
        margin-bottom: 30px;
        @include media(md) {
          display: flex;
          justify-content: space-between;
          flex-flow: row wrap;
          margin-bottom: 50px;
        }
        > li {
          margin-bottom: 10px;
          &:last-child {
            margin-bottom: 0;
          }
          @include media(md) {
            width: 100%;
            margin-bottom: 20px;
          }
          a {
            display: block;
            padding: 30px 10px;
            line-height: 1.6;
            border-bottom: 1px solid #ddd;
            background-color: $color-main;
            background: url(assets/images/recruit/nothumbnail.jpg) no-repeat center/cover;
            background-size: cover;
            @include media(md) {
              padding: 40px 20px;
              &:hover {
                filter: brightness(120%);
              }
            }
            .entry__title {
              margin: 6px 0;
              font-size: 14px;
              line-height: 1.3;
              color: #000;
              text-shadow: 0px 0px 15px #fff;
              @include media(md) {
                font-size: 20px;
              }
            }
            .entry__date {
              font-size: 10px;
              color: #000;
              text-shadow: 0px 0px 15px #fff;
              @include media(md) {
                font-size: 13px;
                font-family: $lato;
              }
            }
            .entry__category {
              font-size: 12px;
              li {
                display: inline-block;
                margin: 0 4px 4px 0;
                padding: 0px 6px;
                color: $color-main;
                font-size: 10px;
                text-align: center;
                background: #fff;
                @include media(md) {
                  padding: 2px 6px;
                }
              }
            }
          }
        }
      }
    }
    .c-pager {
      margin: 40px 0;
    }
  }
}

#blogSigle {
  article {
    .blogSigle-header {
      margin-bottom: 40px;
      background: #e4f4ff;
      .c-container {
        padding: 40px 5%;
        @include media(lg) {
          padding: 60px 0;
        }
        header {
          border-left: 3px solid #999;
          padding-left: 20px;
          @include media(md) {
            padding-left: 30px;
          }
        }
        .blogSigle__heading {
          text-align: left;
          font-size: 22px;
          color: #4e4e4e;
          font-weight: bold;
          line-height: 1.6;
          br {
            display: none;
          }
          &:first-line {
            line-height: 1;
          }
          @include media(md) {
            font-size: 30px;
            br {
              display: block;
            }
          }
        }
        .blogSingle__name {
          margin-top: 10px;
          font-size: 16px;
          font-weight: bold;
          @include media(md) {
            margin-top: 18px;
            font-size: 18px;
          }
        }
        .blogSingle_time {
          display: block;
          font-size: 12px;
          margin-top: 15px;
        }
      }
    }
    > .c-container {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
      #sidebar {
        width: 100%;
        @include media(md) {
          width: 25%;
        }
      }
      .blogSigle-post {
        width: 100%;
        @include media(md) {
          width: 70%;
        }
      }
    }  
  } 
}

/*----------------------------------------------------
会社概要ーページ
 company
----------------------------------------------------*/
#companyPage {
  .c-container {
    .profile {
      .c-table {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        .figure {
          @include media(sm) {
            width: 30%;
          }
        }
        table {
          @include media(sm) {
            width: 65%;
          }
          margin-bottom: 30px;
          @include media(md) {
            margin-bottom: 0;
          }
        }
      }
    }
  } 
}

/*----------------------------------------------------
プライバシーポリシーページ
privacy
----------------------------------------------------*/
#privacyPage {
  .content {
    .privacy_list {
      ul {
        li {
          font-size: 12px;
          border-bottom: 1px solid #ddd;
          line-height: 1.6;
          padding: 20px 0;
          @include media(md) {
            font-size: 14px;
          }
          span {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

/*----------------------------------------------------
お問い合わせページ
 contact
----------------------------------------------------*/
#contact {
  #formContent {
    .download {
      .c-button {
        max-width: 320px;
        margin: 0 auto;
        a {
          padding: 12px 0;
          border: 2px solid $color-main;
          color: $color-main;
          &:hover {
            color: $color-white;
          }
        }
      }
    }
    .content {
      .heading {
        margin: 40px 0 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid $color-main;
        font-size: 16px;
        color: $color-main;
      }
      dl {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        padding: 16px 0 24px;
        border-bottom: 1px solid #ddd;
        &:last-of-type {
          border-bottom: none;
        }
        dt,dd {
          width: 100%;
        }
        dt {
          margin-bottom: 8px;
          font-size: 14px;
          font-weight: bold;
          @include media(md) {
            width: 20%;
          }
          i {
            color: red;
            font-style: normal;
            font-size: 12px;
            margin-left: 4px;
          }
          br {
            display: none;
            @include media(sm) {
              display: block;
            }
          }
        }
        dd {
          @include media(md) {
            width: 75%;
          }
          select,
          input[type="text"],
          input[type="email"] {
            width: 100%;
            padding: 6px;
            height: 30px;
            line-height: 1;
            border: none;
            border-radius: 4px;
            font-size: 14px;
            background: #f5f5f5;
            color: #383838;
          }
          input[type="checkbox"] {
            margin-right: 4px;
          }
          label {
            margin-right: 30px;
            line-height: 2;
          }
          textarea {
            width: 100%;
            height: 150px;
            border: none;
            background: #f5f5f5;
          }
          &.w80 {
            input {
              width: 80%;
              margin-right: 5%;
              @include media(md) {
                margin-right: 20px;
              }
            }
          }
          &.adress {
            .item {
              .name {
                margin: 12px 0 6px;
                i {
                  color: red;
                  font-style: normal;
                  font-size: 12px;
                  margin-left: 4px;
                }
              }
              &:first-child {
                .name {
                  margin: 0 0 6px;
                }
              }
              
              &.zip {
                .form {
                  display: flex;
                  align-items: center;
                  flex-flow: row wrap;
                  justify-content: space-between;
                  input {
                    width: 48%;
                  }
                }  
              }
            }
          }
          &.tel{
            span {
              display: flex;
              justify-content: space-between;
              align-items: center;
              input {
                width: 30%;
              }
            }
          }
          &.zip {
            display: flex;
            justify-content: space-between;
            align-items: center;
            input {
              width: 48%;
            }
          }
        }
      }
      .privacylink {
        text-align: center;
        margin-bottom: 40px;
        a {
          display: inline-block;
          color: $color-main;
          font-size: 12px;
          border-bottom: 1px solid $color-main;
          &:hover {
            opacity: .6;
          }
        }
      }
      .check {
        margin: 30px 0 20px;
        text-align: center;
      }
      .btnarea {
        text-align: center;
        .submit,
        .confirm,
        .back {
          display: inline-block;
          input {
            display: inline-block;
            width: 300px;
            position: relative;
            padding: 14px 0;
            font-weight: bold;
            color: $color-main;
            border: 1px solid $color-main;
            &:hover {
              color: #fff;
              background: $color-main;
              &:after {
                border-color: #fff;
              }
            }
          }
        }
      }
      .mw_wp_form_input {
        .btnarea {
          .submit {
            display: none;
          }
        }
      }
      .mw_wp_form_confirm {
        dl {
          @include media(md) {
            padding: 24px 0;
          }
          dt {
            @include media(md) {
              margin-bottom: 0;
            }
            i {
              display: none;
            }
          }
          dd {
            &.adress {
              .item {
                display: inline-block;
                .name {
                  display: none;
                }
              }
            }
          }
        }
        .privacylink,
        .check {
          display: none;
        }
        .btnarea {
          margin-top: 40px;
          .back {
            margin-bottom: 10px;
          }
        }
      }
      &.mw_wp_form_complete {
        text-align: center;
        line-height: 1.8;
      }
    }
  }
}
/*----------------------------------------------------
検索結果ページ
 search
----------------------------------------------------*/
#searchPage {
  .c-headingLarge {
    .heading {
      background: url(assets/images/search/visual.jpg) no-repeat center/cover;
    }
  }
  #search {
    .search__title {
    }
    .search-content {
    }
  }
}

/*----------------------------------------------------
サイトマップページ
 sitemape
----------------------------------------------------*/
#sitemapPage {
  .footer-inner {
    padding: 40px 5%;
    @include media(md) {
      padding: 40px 0;
    }
    .footer-nav {
      .heading {
        margin-bottom: 14px;
        font-size: 16px;
        letter-spacing: .05em;
        font-weight: normal;
        span {
          margin-left: 10px;
          font-family: $lato;
          font-size: 12px;
          color: $color-main;
        }
      }
      .area {
        @include media(md) {
          .area-item {
            display: inline-block;
            width: 30%;
            margin-right: 5%;
            &:last-child {
              margin-right: 0;
            }
          } 
        }
      }
      .work,
      .pickup,
      .feature,
      .about,
      .menu {
        @include media(md) {
          .work-item,
          .pickup-item,
          .feature-item,
          .about-item,
          .menu-item {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            @include media(md) {
              &:after {
                content: '';
                width: 30%;
                height: 0;
              }
            }
            ul {
              @include media(md) {
                width: 30%;
              }
            }
          } 
        }
      }
      .footer-nav-list {
        .name {
          margin: 40px 0 12px;
          font-size: 13px;
          color: #808080;
          letter-spacing: .05em;
        }
        .heading {
          margin: 50px 0 12px;
        }
        .title {
          display: block;
          position: relative;
          padding: 12px 10px;
          border-bottom: 1px solid #555;
          color: #333;
        }
        .footer-nav-list__item {
          li {
            a {
              position: relative;
              padding: 12px 10px;
              display: block;
              border-bottom: 1px solid #555;
              color: #333;
              transition: .24s ease all;
              &:hover {
                @include media(md) {
                  color: $color-main;
                  border-color: $color-main;
                  &:before {
                    right: 0;
                    border-color: $color-main;
                  }
                }
              }
              &:before {
                content: '';
                position: absolute;
                width: 6px;
                height: 6px;
                border-right: 1px solid #555;
                border-bottom: 1px solid #555;
                top: 42%;
                right: 5%;
                transform: rotate(-45deg);
                transition: .24s ease all;
              }
            }
          }
          &.item-col2 {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            li {
              width: 48%;
            }
          }
        }
      }
    }
    .footer-information {
      display: none;
    }
    .footer-copyright {
      display: none;
    }
  }
}

/*----------------------------------------------------
404ーページ
 error
----------------------------------------------------*/
#notfound {
  .block {
    margin: 100px 0;
    .c-container {
      .title {
        margin-bottom: 30px;
        font-family: $lato;
        color: $color-main;
        font-size: 20px;
      }
      .text {
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 1.7;
      }
    }
  }
}